# dependencies
node_modules/

# runtime state
data/

# sumber logo
src/

# env
.env
.env.*
!.env.example

# Railway
.railway/*
!.railway/railway.ts

# logs & OS junk
*.log
*.err
npm-debug.log*
Thumbs.db
.DS_Store

# editor
.vscode/
.idea/